.d-block {
  display: block !important;
}
.color-secondary {
  color: #d89c35;
}
.menu-active {
  color: #d89c35;
}
.color-light {
  color: #fff;
}
.burger-close span {
  background-color: #fff !important;
}
.burger-close span::before {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transform: translate(0, 1rem) rotate(45deg);
  transform: translate(0, 1rem) rotate(45deg);
  background-color: #d89c35 !important;
}
.burger-close span::after {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transform: translate(0, -1rem) rotate(-45deg);
  transform: translate(0, -1rem) rotate(-45deg);
  background-color: #d89c35 !important;
}
.menu-open {
  -webkit-transform: translateY(0) !important;
  transform: translateY(0) !important;
  opacity: 1 !important;
  pointer-events: unset !important;
}
.current-menu-item {
  color: #d89c35 !important;
}
.current {
  background-color: #d89c35 !important;
  padding: 0.5rem 1rem;
  color: #fff;
  display: inline-block;
}
.post-categories li {
  list-style-type: none;
  color: #d89c35;
}
.post-categories li a {
  font-family: 'poppins-bold';
  color: #fff;
}
@media only screen and (max-width: 414px) {
  .post-categories li {
    text-align: center;
  }
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.4rem;
  font-family: 'poppins-regular', Tahoma, Geneva, Verdana, sans-serif;
  text-rendering: inherit;
}
html {
  font-size: 62.5%;
  text-rendering: optimizeSpeed;
  scroll-behavior: smooth;
}
p {
  word-break: break-all;
  color: #707070;
}
a {
  text-decoration: none;
  color: inherit;
}
ul li {
  word-break: break-all;
}
@font-face {
  font-family: 'poppins-extralight';
  src: url('../font/Poppins-ExtraLight.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'poppins-light';
  src: url('../font/Poppins-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'poppins-regular';
  src: url('../font/Poppins-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'poppins-semibold';
  src: url('../font/Poppins-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'poppins-bold';
  src: url('../font/Poppins-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
.about-card {
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
.about-card__wrapper {
  padding: 4rem;
}
.about-card__wrapper p:last-of-type {
  margin-bottom: unset !important;
}
.about-card__wrapper a {
  display: inline-block;
  margin-top: 4rem;
}
.btn {
  padding: 1rem 4rem;
  color: #fff;
  border-radius: 2.5rem;
  font-family: 'poppins-regular' !important;
  -webkit-transition: 0.1s all ease-in-out;
  transition: 0.1s all ease-in-out;
}
.btn--primary {
  background-color: #060;
}
.btn--secondary {
  background-color: #d89c35;
}
.btn--secondary:hover {
  background-color: #c78f2e;
}
.card__item {
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
.card__item__img {
  position: relative;
}
.card__item__img img {
  width: 100%;
  display: block;
  max-height: 24rem;
  -o-object-fit: cover;
  object-fit: cover;
}
.card__item__img__category {
  position: absolute;
  top: 1rem;
  left: 0;
  background-color: #060;
  color: #fff;
  padding: 0.5rem 1rem 0.5rem 2rem;
}
.card__item__content {
  background-color: #fff;
  padding: 2rem;
}
.card__item__content h3 a {
  color: #060;
  font-size: clamp(1.6rem, 5vw, 2rem);
  line-height: clamp(1.6rem, 5vw, 2rem);
  margin: 2rem 0 3rem 0;
  font-family: 'poppins-bold';
  height: 4rem;
}
.card__item__content p {
  margin-bottom: 3rem;
  height: 5.1rem;
}
.card__item__content a {
  font-family: 'poppins-semibold';
  color: #d89c35;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.card__item__content a span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1rem;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}
.card__item__content a span svg {
  width: 1.6rem;
  height: 1.6rem;
}
.card__item__content a:hover span {
  -webkit-transform: translateX(0.5rem);
  transform: translateX(0.5rem);
}
.contact-details ul li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 2rem;
  color: #fff;
}
.contact-details ul li:last-child {
  margin-bottom: unset;
}
.contact-details ul li:last-child a {
  display: inline-block;
  color: #d89c35;
  font-family: 'poppins-light';
}
.contact-details ul li svg {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  color: #fff;
}
.contact-details--primary ul li {
  color: #707070;
}
.contact-details--primary ul li svg {
  color: #060;
}
.section-title span {
  display: block;
  text-transform: none;
  color: #d89c35;
  font-size: clamp(1.6rem, 5vw, 2.2rem);
  line-height: clamp(1.6rem, 5vw, 2.2rem);
  font-family: 'poppins-bold';
}
@media only screen and (max-width: 414px) {
  .section-title span {
    text-align: center;
  }
}
.section-title h2 {
  color: #060;
  line-height: clamp(2.2rem, 8vw, 5rem);
  font-size: clamp(2.2rem, 8vw, 4rem);
  font-family: 'poppins-bold';
  margin-bottom: 4rem;
}
@media only screen and (max-width: 414px) {
  .section-title h2 {
    text-align: center;
  }
}
.section-title p {
  font-size: 1.4rem !important;
}
.section-description p {
  margin-bottom: 4rem;
  text-align: center;
}
.member {
  padding: 8vh 0;
  text-align: center;
  background-color: #ececec;
}
.member__wrapper p {
  margin-bottom: 4rem;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 4rem;
}
@media only screen and (max-width: 768px) {
  .member__wrapper p {
    width: 100%;
  }
}
.member__wrapper a {
  display: inline-block;
  margin-right: 2rem;
}
.member__wrapper a:last-child {
  margin-right: unset;
}
@media only screen and (max-width: 419px) {
  .member__wrapper a {
    margin-right: unset;
    margin-bottom: 2rem;
    display: block;
  }
}
.member__wrapper h2 {
  color: #060;
  line-height: clamp(2.2rem, 8vw, 5rem);
  font-size: clamp(2.2rem, 8vw, 4rem);
  font-family: 'poppins-bold';
  margin-bottom: 4rem;
}
@media only screen and (max-width: 414px) {
  .member__wrapper h2 {
    text-align: center;
  }
}
.member__wrapper h2 span {
  display: block;
  text-transform: none;
  color: #d89c35;
  font-size: clamp(1.6rem, 5vw, 2.2rem);
  line-height: clamp(1.6rem, 5vw, 2.2rem);
  font-family: 'poppins-regular';
}
@media only screen and (max-width: 414px) {
  .member__wrapper h2 span {
    text-align: center;
  }
}
.metadata {
  height: 4.2rem;
}
.metadata li {
  list-style-type: none;
  color: #707070;
  display: inline-block;
  font-family: 'poppins-bold';
}
.metadata li:first-child a {
  color: #d89c35;
}
.pagination {
  text-align: right;
  margin: 2rem 0;
}
.pagination a {
  padding: 0.5rem 1rem;
  background-color: #707070;
  display: inline-block;
  color: #fff;
}
.section-banner {
  padding: 8vh 0;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.section-banner--about {
  background: url('../../dist/assets/img/banner-about.jpg');
}
.section-banner--news {
  background: url('../../dist/assets/img/banner-news.jpg');
}
.section-banner--activities {
  background: url('../../dist/assets/img/banner-activities.jpg');
}
.section-banner--gallery {
  background: url('../../dist/assets/img/banner-gallery.jpg');
}
.section-banner--contact {
  background: url('../../dist/assets/img/banner-contact.jpg');
}
.section-banner h1 {
  color: #fff;
  line-height: clamp(2.2rem, 8vw, 5rem);
  font-size: clamp(2.2rem, 8vw, 4rem);
  font-family: 'poppins-bold';
}
.social-links {
  margin-top: 4rem;
}
.social-links li {
  display: inline-block !important;
}
.social-links li svg {
  margin-right: 2rem !important;
  width: 3.2rem !important;
  height: 3.2rem !important;
  display: inline-block !important;
  color: #fff;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}
.social-links li svg:hover {
  color: #d89c35;
}
.social-links li:last-child svg:last-child {
  margin-right: unset !important;
}
.social-links--primary li svg {
  color: #060;
}
.social-links--primary li svg:hover {
  color: #d89c35;
}
.banner-slider {
  position: relative;
  background-color: #69cc69;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(
      linear,
      right top,
      left top,
      from(rgba(216, 156, 53, 0.85)),
      to(rgba(0, 102, 0, 0.85))
    ),
    url('../../dist/assets/img/slider-img-2.jpg');
  background-image: linear-gradient(
      to left,
      rgba(216, 156, 53, 0.85),
      rgba(0, 102, 0, 0.85)
    ),
    url('../../dist/assets/img/slider-img-2.jpg');
  mix-blend-mode: screen;
}
.banner-slider ul li {
  display: inline-block;
  padding: 8vh 0;
}
.banner-slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
.banner-slider__wrapper__img img {
  width: 35rem;
  margin: 0 auto;
}
@media only screen and (max-width: 768px) {
  .banner-slider__wrapper__img img {
    width: 55%;
  }
}
@media only screen and (max-width: 768px) {
  .banner-slider__wrapper__img {
    display: none;
  }
}
.banner-slider__wrapper__content {
  text-align: left;
}
@media only screen and (max-width: 414px) {
  .banner-slider__wrapper__content {
    text-align: center;
  }
}
.banner-slider__wrapper__content h2 {
  color: #fff;
}
.banner-slider__wrapper__content p {
  margin-bottom: 4rem;
  text-align: left;
  color: #fff;
}
.banner-slider__wrapper__content a {
  display: inline-block;
}
@media only screen and (max-width: 768px) {
  .banner-slider__wrapper__content {
    width: 90%;
    margin: 0 auto;
  }
}
.banner-slider .splide__pagination {
  bottom: -4.5rem;
}
.footer {
  padding: 8vh 0;
  background-color: #060;
  color: #fff;
}
.footer p {
  text-align: center;
  color: #cbcbcb;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  line-height: 1.2rem;
}
.footer__wrapper__details__logo {
  margin-bottom: 4rem;
}
.footer__wrapper__details__logo img {
  display: block;
}
@media only screen and (max-width: 414px) {
  .footer__wrapper__details__logo img {
    width: 100%;
  }
}
.footer__wrapper__quicklinks {
  font-family: 'poppins-semibold';
}
.footer__wrapper__quicklinks h4 {
  border-bottom: 1px solid #d89c35;
  display: inline-block;
  font-size: clamp(1.6rem, 5vw, 1.8rem);
  line-height: clamp(1.6rem, 5vw, 1.8rem);
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
}
.footer__wrapper__quicklinks ul li {
  display: block;
  color: #d89c35;
  margin-bottom: 2rem;
}
.footer__wrapper__quicklinks ul li:last-child {
  margin-bottom: unset;
}
.footer__wrapper__queries {
  font-family: 'poppins-semibold';
  margin-bottom: 6rem;
}
.footer__wrapper__queries h4 {
  border-bottom: 1px solid #d89c35;
  display: inline-block;
  font-size: clamp(1.6rem, 5vw, 1.8rem);
  line-height: clamp(1.6rem, 5vw, 1.8rem);
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
}
.footer__wrapper__queries ul li {
  margin-bottom: 2rem;
  list-style-type: none;
}
.footer__wrapper__queries ul li p {
  display: block;
  color: #fff;
  margin-bottom: 0.5rem;
  text-align: left;
}
.footer__wrapper__queries ul li p:last-child {
  margin-bottom: unset;
}
.footer__wrapper__queries ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #d89c35;
  font-family: 'poppins-light';
}
.footer__wrapper__queries ul li a svg {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  color: #fff;
  margin-right: 1rem;
}
.footer__wrapper__queries ul li:last-child {
  margin-bottom: unset;
}
@media (min-width: 320px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}
.grid-col-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3.6rem;
}
@media only screen and (max-width: 768px) {
  .grid-col-2 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.grid-col-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 6rem;
}
@media only screen and (max-width: 1024px) {
  .grid-col-3 {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
.grid-col-3--single {
  -ms-grid-columns: 1fr 3fr 1fr;
  grid-template-columns: 1fr 3fr 1fr;
}
@media only screen and (max-width: 580px) {
  .grid-col-3 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.grid-col-4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 3.6rem;
}
@media only screen and (max-width: 1199px) {
  .grid-col-4 {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 580px) {
  .grid-col-4 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  max-width: 1170px;
  width: 90%;
  margin: 2rem auto;
}
@media only screen and (max-width: 1100px) {
  .navigation {
    width: 100%;
  }
}
@media only screen and (max-width: 1100px) {
  .navigation .logo {
    margin-left: 2rem;
  }
}
.navigation .logo img {
  display: block;
  width: 100%;
}
@media only screen and (max-width: 1100px) {
  .navigation .logo img {
    width: 20rem;
  }
}
.navigation .burger-menu {
  display: none;
  cursor: pointer;
  padding: 1.2rem 0.1rem;
}
.navigation .burger-menu span {
  height: 0.2rem;
  background-color: #d89c35;
  display: block;
  width: 3rem;
  position: relative;
}
.navigation .burger-menu span::before {
  height: inherit;
  background-color: inherit;
  width: inherit;
  content: '';
  position: absolute;
  top: -1rem;
}
.navigation .burger-menu span::after {
  height: inherit;
  background-color: inherit;
  width: inherit;
  content: '';
  position: absolute;
  top: 1rem;
}
@media only screen and (max-width: 1100px) {
  .navigation .burger-menu {
    display: inline-block;
  }
}
@media only screen and (max-width: 1100px) {
  .navigation .burger-menu {
    margin-right: 2rem;
  }
}
.navigation .menu-top-bar-container {
  z-index: 9999;
}
.navigation .menu-top-bar-container ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 2rem;
  color: #707070;
  -webkit-transition: 0.1s all ease-in-out;
  transition: 0.1s all ease-in-out;
}
.navigation .menu-top-bar-container ul li a {
  font-family: 'poppins-bold';
  display: inline-block;
}
.navigation .menu-top-bar-container ul li:last-child {
  margin-right: unset;
}
.navigation .menu-top-bar-container ul li:hover {
  color: #d89c35;
}
.navigation .menu-top-bar-container .cta a {
  background-color: #d89c35;
  padding: 1rem 4rem;
  border-radius: 2.5rem;
  font-family: 'poppins-regular' !important;
  -webkit-transition: 0.1s all ease-in-out !important;
  transition: 0.1s all ease-in-out !important;
  color: #fff !important;
}
.navigation .menu-top-bar-container .cta a:hover {
  background-color: #c78f2e;
}
@media only screen and (max-width: 1100px) {
  .navigation .menu-top-bar-container {
    position: absolute;
    width: 100%;
    top: 8rem;
    left: 0;
    background-color: #999;
    padding: 2rem 0;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    -webkit-transform: translateY(-2rem);
    transform: translateY(-2rem);
  }
  .navigation .menu-top-bar-container ul li {
    display: block;
    text-align: center;
    margin-right: unset;
    margin-bottom: 2rem;
    color: #fff;
  }
  .navigation .menu-top-bar-container ul li:hover {
    color: #d89c35;
  }
  .navigation .menu-top-bar-container ul li:last-child {
    margin-bottom: unset;
  }
}
@media only screen and (max-width: 1100px) {
  .navigation .menu-top-bar-container {
    top: 5.7rem;
  }
}
.partners {
  padding: 8vh 0;
}
@media only screen and (max-width: 991px) {
  .partners {
    text-align: center;
  }
}
.partners ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media only screen and (max-width: 991px) {
  .partners ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.partners ul li {
  list-style-type: none;
}
@media only screen and (max-width: 991px) {
  .partners ul li {
    margin-bottom: 4rem;
  }
  .partners ul li:last-child {
    margin-bottom: unset;
  }
}
.partners ul li img {
  width: 100%;
  height: 8rem;
}
.splide__arrow {
  width: 4em !important;
  height: 4em !important;
}
@media only screen and (max-width: 1400px) {
  .splide__arrow {
    width: 2em !important;
    height: 2em !important;
  }
}
@media only screen and (max-width: 414px) {
  .splide__arrows {
    display: none !important;
  }
}
.splide__arrow--prev {
  left: 3em !important;
}
@media only screen and (max-width: 1400px) {
  .splide__arrow--prev {
    left: 1em !important;
  }
}
.splide__arrow--next {
  right: 3em !important;
}
@media only screen and (max-width: 1400px) {
  .splide__arrow--next {
    right: 1em !important;
  }
}
.splide__arrow svg {
  width: 2.2em !important;
  height: 2.2em !important;
}
@media only screen and (max-width: 1400px) {
  .splide__arrow svg {
    width: 1.2em !important;
    height: 1.2em !important;
  }
}
.talk {
  text-align: center;
  padding: 10rem 0;
  background: url('http://localhost/spcms/wp-content/uploads/2021/09/talk-img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.talk h2 {
  line-height: clamp(2.2rem, 8vw, 5rem);
  font-size: clamp(2.2rem, 8vw, 4rem);
  font-family: 'poppins-bold';
  color: #fff;
  margin-bottom: 4rem;
}
.talk a {
  text-transform: uppercase;
}
.about-intro {
  padding: 8vh 0;
}
.about-intro__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media only screen and (max-width: 1024px) {
  .about-intro__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}
.about-intro__wrapper__img {
  width: 100%;
}
.about-intro__wrapper__img img {
  width: 100%;
  display: block;
}
@media only screen and (max-width: 1024px) {
  .about-intro__wrapper__img {
    margin-bottom: 2rem;
  }
}
.about-intro__wrapper__content {
  width: 100%;
}
.about-intro__wrapper__content h2 {
  text-transform: uppercase;
}
@media only screen and (max-width: 1024px) {
  .about-intro__wrapper__content h2 {
    text-align: center;
  }
}
.about-intro__wrapper__content p {
  margin-bottom: 2rem;
}
.about-intro__wrapper__content p:last-of-type {
  margin-bottom: unset;
}
.about-intro__wrapper__content a {
  display: inline-block;
  margin-top: 2rem;
}
.about-mission {
  padding: 8vh 0;
  background-color: #ececec;
}
.about-mission__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about-mission__wrapper__content {
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
.about-mission__wrapper__content__wrapper {
  padding: 4rem;
}
.about-mission__wrapper__content__wrapper p {
  margin-bottom: 2rem;
}
.about-mission__wrapper__content__wrapper p:last-child {
  margin-bottom: unset;
}
.about-mission__wrapper__img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 1024px) {
  .about-mission__wrapper__img {
    display: none;
  }
}
.about-mission__wrapper__img img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.about-vision {
  padding: 8vh 0;
}
.about-vision__wrapper__img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media only screen and (max-width: 1024px) {
  .about-vision__wrapper__img {
    display: none;
  }
}
.about-vision__wrapper__img img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.about-vision__wrapper__content {
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
.about-vision__wrapper__content__wrapper {
  padding: 4rem;
}
.about-vision__wrapper__content__wrapper p {
  margin-bottom: 2rem;
}
.about-vision__wrapper__content__wrapper p:last-child {
  margin-bottom: unset;
}
.activities {
  padding: 8vh 0;
}
.contact {
  padding: 8vh 0;
}
.contact__wrapper__form__form-wrapper {
  margin-bottom: 6rem;
}
.contact__wrapper__form__form-wrapper__wrapper {
  margin-bottom: 2rem;
}
.contact__wrapper__form__form-wrapper__wrapper label,
.contact__wrapper__form__form-wrapper__wrapper input {
  display: block;
  width: 100%;
}
.contact__wrapper__form__form-wrapper__wrapper label {
  margin-bottom: 0.5;
  color: #707070;
}
.contact__wrapper__form__form-wrapper__wrapper input {
  padding: 0.5rem;
  background-color: rgba(0, 102, 0, 0.13);
  border: none;
}
.contact__wrapper__form__form-wrapper__wrapper textarea {
  width: 100%;
  resize: none;
  border: none;
  background-color: rgba(0, 102, 0, 0.13);
  padding: 0.5rem;
}
.contact__wrapper__form__form-wrapper a {
  display: block;
  text-transform: uppercase;
  text-align: center;
}
.contact__wrapper__map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact__wrapper__map iframe {
  width: 100%;
  display: block;
  height: 100%;
}
@media only screen and (max-width: 1024px) {
  .contact__wrapper__map iframe {
    height: 45rem;
  }
}
.directory {
  padding: 8vh 0;
}
.directory__wrapper__member {
  background-color: #ececec;
  padding: 2rem;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
.directory__wrapper__member__profile {
  text-align: center;
  margin-bottom: 2rem;
}
.directory__wrapper__member__profile img {
  border-radius: 100%;
  display: block;
  margin: 0 auto;
  width: 6.4rem;
  height: 6.4rem;
  border: 2px solid #d89c35;
}
.directory__wrapper__member__profile h4 {
  color: #060;
  font-family: 'poppins-bold';
  font-size: 1.8rem;
  line-height: 1.8rem;
  margin-top: 1rem;
}
.directory__wrapper__member__profile span {
  color: #d89c35;
}
.directory__wrapper__member__details ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.directory__wrapper__member__details ul li {
  list-style-type: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 1.4rem;
  word-break: normal;
  margin-bottom: 1rem;
  color: #707070;
}
.directory__wrapper__member__details ul li:last-child {
  margin-bottom: unset;
}
.directory__wrapper__member__details ul li span {
  margin-right: 1rem;
}
.directory__wrapper__member__details ul li span svg {
  width: 1.6rem;
  height: 1.6rem;
  color: #707070;
}
.gallery {
  padding: 8vh 0;
}
.banner {
  padding: 8vh 0;
}
.banner__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media only screen and (max-width: 1024px) {
  .banner__wrapper {
    display: unset;
    text-align: center;
  }
}
.banner__wrapper__content {
  width: 100%;
}
.banner__wrapper__content h1 {
  line-height: clamp(5rem, 10vw, 7rem);
  font-size: clamp(4rem, 10vw, 6rem);
  color: #060;
  margin-bottom: 6rem;
  font-family: 'poppins-bold';
}
.banner__wrapper__content span {
  font-size: clamp(1.6rem, 5vw, 2.2rem);
  line-height: clamp(1.6rem, 5vw, 2.2rem);
  font-family: 'poppins-bold';
}
.banner__wrapper__content p {
  margin-bottom: 4rem;
  font-family: 'poppins-bold';
}
@media only screen and (max-width: 1024px) {
  .banner__wrapper__content p {
    text-align: left;
  }
}
.banner__wrapper__content a {
  margin-bottom: 6rem;
  display: inline-block;
}
.banner__wrapper__img {
  width: 100%;
}
.banner__wrapper__img img {
  display: block;
  width: 100%;
}
.about {
  padding: 8vh 0;
}
.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .about__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}
.about__wrapper__img {
  width: 100%;
  margin-top: 3.6rem;
}
@media only screen and (max-width: 768px) {
  .about__wrapper__img {
    margin-bottom: 5rem;
  }
}
.about__wrapper__img img {
  width: 100%;
  display: block;
}
.about__wrapper__content {
  width: 100%;
}
.latest {
  padding: 8vh 0;
  background: #ececec;
}
.news {
  padding: 8vh 0;
}
.single {
  padding: 8vh 0;
}
@media only screen and (max-width: 580px) {
  .single__wrapper__metadata {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-align: center;
  }
}
.single__wrapper__metadata ul {
  margin-bottom: 2rem;
}
.single__wrapper__metadata ul li {
  list-style-type: none;
}
.single__wrapper__metadata ul li:first-child {
  font-family: 'poppins-bold';
  color: #060;
}
.single__wrapper__metadata ul:last-child {
  margin-bottom: unset;
}
@media only screen and (max-width: 580px) {
  .single__wrapper__metadata ul {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: unset;
  }
}
.single__wrapper__body__header .post-categories li {
  list-style-type: none;
  color: #d89c35;
}
.single__wrapper__body__header .post-categories li a {
  font-family: 'poppins-bold';
}
@media only screen and (max-width: 414px) {
  .single__wrapper__body__header .post-categories li {
    text-align: center;
  }
}
.single__wrapper__body__content p {
  margin-bottom: 2rem;
}
.single__wrapper__body__content p:last-child {
  margin-bottom: unset;
}
