@font-face {
  font-family: 'poppins-extralight';
  src: url('../../font/Poppins-ExtraLight.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  // font-display: swap;
}

@font-face {
  font-family: 'poppins-light';
  src: url('../../font/Poppins-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  // font-display: swap;
}

@font-face {
  font-family: 'poppins-regular';
  src: url('../../font/Poppins-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  // font-display: swap;
}

@font-face {
  font-family: 'poppins-semibold';
  src: url('../../font/Poppins-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  // font-display: swap;
}

@font-face {
  font-family: 'poppins-bold';
  src: url('../../font/Poppins-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  // font-display: swap;
}
